node_modules/
client/node_modules/
server/node_modules/
.env
.env.*
.DS_Store
/dist
/build
.vscode/
uploads/
uploads/receipts/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
.idea/
/.parcel-cache
/.cachenode_modules/
dist/
coverage/
.env
.env.local
uploads/
*.log
.DS_Store
